[Desktop Entry]
Version=1.0
Type=Link
Name=xre
Comment=
Icon=user-bookmarks
URL=file:///tmp/guest-zlf3lk/Downloads/aluramidi-main/tomp3.cc-XRE-190-CORTANDO-DE-GIRO.wav
